.about {
    background-image: url(../images/About.jpg);

    background-repeat: no-repeat;
    background-position: top right;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 60px;
    // height: 100vh;
}

.title-about {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 58px;
    line-height: 0.95;
    text-align: center;
    color: #141414;
    padding-bottom: 60px;
}

.main-text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;
    color: #141414;
    padding-bottom: 20px;
}

.history-text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;

    color: #484848;
    padding-bottom: 20px;
}

.end-history-text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;

    color: #484848;
    padding-bottom: 40px;
}