@import '~node_modules/modern-normalize/modern-normalize.css';
html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.wrapper {
    min-width: 320px;
    padding: 0 20px;
    position: relative;
    @media screen and (min-width:780px) {
        max-width: 780px;
        margin: 0 auto;
    }
    @media screen and (min-width:1400px) {
        max-width: 1400px;
        margin: 0 auto;
    }
  }

  