.header {
  background: #141414;
  background-image: url(../images/bg-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  @media screen and (min-width: 780px) {
    height: 800px;
    overflow: hidden;
  }
  @media screen and (min-width: 1400px) {
    overflow: hidden;
  }
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 56px;

  &__link {
    font-family: 'Share Tech Mono';
    font-size: 28px;
    line-height: 0.95;
    color: #ffffff;
    @media screen and (min-width: 780px) {
      font-size: 18px;
      line-height: 1.5;
    }
  }
  &__item {
    padding: 111px 70px;
    @media screen and (min-width: 780px) {
      padding: 0;
      display: flex;
      justify-content: space-between;
    }
    @media screen and (min-width: 1400px) {
      justify-content: flex-start;
    }
  }
  &__list {
    margin-bottom: 70px;
    @media screen and (min-width: 780px) {
      margin-bottom: 0;
    }
    @media screen and (min-width: 1400px) {
      margin-right: 80px;
    }
    & svg {
      @media screen and (min-width: 780px) {
        display: none;
      }
    }
  }
  &__list:last-child {
    margin-bottom: 0;
  }
}

.menu-btn {
  border: none;
  background-color: inherit;
  @media screen and (min-width: 780px) {
    display: none;
  }
}

.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: #141414;
  background-image: url(../images/bg-mob-menu.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 100%;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  opacity: 0;
  transform: translateY(-100%);

  @media screen and (min-width: 780px) {
    background: inherit;
    opacity: 1;
    transform: translateY(0);
    position: static;
    padding-top: 35px;
  }
  @media screen and (min-width: 1400px) {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    align-items: baseline;
  }
}

.nav-container.active {
  opacity: 1;
  transform: translateY(0%);
}
.menu-btn__cross {
  display: none;
}

.menu-btn.active .menu-btn__cross {
  display: block;
}

.menu-btn.active .menu-btn__burger {
  display: none;
}

.menu-btn__box {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 10;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 52px;
  line-height: 1.2;
  color: #ffffff;
  z-index: 1;
  position: absolute;
  top: 231px;
  left: 20px;
  @media screen and (min-width: 780px) {
    top: 241px;
    font-size: 76px;
    line-height: 1.2;
  }
  @media screen and (min-width: 1400px) {
    font-size: 86px;
    line-height: 1.2;
  }

  &__span {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 33px;
    line-height: 1.2;
    color: #323232;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
      -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    @media screen and (min-width: 780px) {
      font-size: 46px;
      line-height: 1.2;
    }
    @media screen and (min-width: 1400px) {
      font-size: 56px;
      line-height: 1.2;
    }
  }
}

.my-photo {
  @media screen and (min-width: 780px) {
    position: absolute;
    right: 0;
    top: 32px;
  }
  @media screen and (min-width: 1400px) {
    top: 0;
    right: 0;
  }
}

.socials__text {
  margin: 0;
  padding: 0 0 10 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #ffffff;

  position: absolute;
  z-index: 1;
  top: 438px;
  left: 20px;
  @media screen and (min-width: 780px) {
    top: 570px;
    left: 20px;
  }
}
.socials {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 23px;
  padding: 0;

  position: absolute;
  top: 484px;
  left: 20px;
  &__list {
    margin-right: 8px;
    margin-bottom: 8px;
  }
  @media screen and (min-width: 780px) {
    position: absolute;
    top: 626px;
    left: 20px;
  }
}

.resume-btn {
  display: none;
  @media screen and (min-width: 1400px) {
    border: 4px solid #ffffff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 280px;
    height: 70px;
    justify-content: center;
    background-color: inherit;
    cursor: pointer;

    // position: absolute;
    // z-index: 1;
    // top: 680px;
    // left: 20px;
  }
  .left {
    opacity: 10%;
    margin-right: 23px;
  }
  .right {
    opacity: 10%;
    margin-left: 23px;
  }
  &:hover {
    background: linear-gradient(
      108.46deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
  }
}

.resume-btn__text {
  padding: 0;
  margin: 0;
  font-family: 'Share Tech Mono', monospace;
  font-size: 24px;
  line-height: 1.41;
  color: #ffffff;
  margin-right: 30px;
}
.socials__btn {
  width: 80px;
  height: 80px;

  background: linear-gradient(
    108.46deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0.01) 100%
  );
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: linear-gradient(
      108.46deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
  }
}
