.portfolio {
    padding: 100px 0;
    min-height: 100vh;
}
.portfolio__title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 58px;
    line-height: 0.95;
    color: #141414;
    text-align: center;
    margin-bottom: 40px;
}
.portfolio__filter {
    font-family: 'Share Tech Mono';
    font-size: 24px;
    line-height: 0.95;
    color: #141414;
    margin-bottom: 40px;
}

.card__wrapper {
    width: 280px;
    height: 443px;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), linear-gradient(108.46deg, rgba(20, 20, 20, 0.9) 0%, rgba(20, 20, 20, 0.6) 100%);
    backdrop-filter: blur(20px);

    backdrop-filter: blur(20px);
    padding-top: 40px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    @media screen and (min-width: 780px) {
        width: 738px;
        height: 650px;
    }
    @media screen and (min-width: 1400px) {
        width: 672px;
    }
}

.card__title {
    padding: 0 20px;
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 24px;
    line-height: 1.3;
    color: #FFFFFF;
    padding-bottom: 20px;
    @media screen and (min-width: 780px) {
        font-size: 34px;
        padding: 20px 60px;
    }
}

.card__icon-arrow {
    margin:0 20px;
    @media screen and (min-width: 780px) {
        margin: 0 60px;
    }
}

.card__img--big{
    width: 210px;
    // height: 313px;
    position: absolute;
    left: 0;
    top: 150px;
    @media screen and (min-width:780px) {
        width: 594px;
    }
}

.card__img--small {
    position: absolute;
    right: 0;
    // top: 85px;
    @media screen and (min-width: 780px) {
        top: 85px;
    }
}

.discr__wrapper {
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), linear-gradient(108.46deg, rgba(20, 20, 20, 0.9) 0%, rgba(20, 20, 20, 0.6) 100%);
    backdrop-filter: blur(20px);
    padding: 20px;
    @media screen and (min-width: 780px) {
        padding: 40px 60px;
    }
}

.discr__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 130%;
    color: #FFFFFF;
    @media screen and (min-width: 780px) {
        font-size: 18px;
    }
}

.filmoteka {
    width: 100%;
}