<section class="about" id="about">
    <div class="wrapper">
        <h2 class="title-about">About <br> me</h2>
        <p class="main-text">
            I am a Front-End developer. I am looking for a job as a Junior Front-End developer in a friendly team to implement projects that change the World. I am proficient in technologies such as HTML, CSS, JavaScript and React. I am a fast learner, responsible, and ready for challenging tasks.
        </p>
        <p class="history-text">
            First of all, I want to say that computer science began to interest me when I got my first personal computer in the 2000s. At that time I still wanted to start developing in this direction, but I did not have the Internet to search for information, and there was no financial opportunity to look for a mentor who would help me learn.    
        </p>
        <p class="end-history-text">
            After this time a lot of things in my life changed, there were ups and downs. And now the time has come when I remembered my childhood dream and said to myself, I want to become a programmer...
        </p>
    </div>
</section>