<section class="about" id="about">
  <div class="wrapper">
    <h2 class="title-about">
      About <br />
      me
    </h2>
    <div class="wrapper-about">
        <div>
            <ul class="introdution__list">
              <li class="introdution__item head-title-about">
                Hello, my Name is Rustem
              </li>
              <li class="introdution__item">
                🔭 I’m currently working on a lot of different stuff
              </li>
              <li class="introdution__item">
                🌱 I’m currently learning everything I can get my hands on
              </li>
              <li class="introdution__item">⚡ Fun fact: I love what I do</li>
            </ul>
            <ul class="contacts-with-me__list">
              <li class="contacts-with-me__item head-title-about">
                Contacts with me:
              </li>
              <li class="contacts-with-me__item">
                ☏ +38 068 578 17 14 (Viber, WhatsApp, Telegram, Wechat)
              </li>
              <li class="contacts-with-me__item">
                📫 How to reach me: dzhuraievrustem@gmail.com
              </li>
            </ul>
          </div>
          <div>
            <ul class="what-can__list">
              <li class="what-can__item head-title-about">What I can:</li>
              <li class="what-can__item">
                ✔ HTML5/CSS/SASS 
              </li>
              <li class="what-can__item">
                ✔ Responsive/ Adaptive layout 
              </li>
              <li class="what-can__item">
                ✔ JavaScript 
              </li>
              <li class="what-can__item">✔ REST API </li>
              <li class="what-can__item">
                ✔ AJAX 
              </li>
              <li class="what-can__item">
                ✔ React/Redux-Toolkit 
              </li>
              <li class="what-can__item">
                ✔ React Native 
              </li>
              <li class="what-can__item">
                ✔ Material UI
              </li>
              <li class="what-can__item">✔ FIREBASE </li>
              <li class="what-can__item">
                ✔ Webpack/Parcel 
              </li>
              <li class="what-can__item">
                ✔ Git/GitHub 
              </li>
              <li class="what-can__item">
                ✔ ESlint/Prettier 
              </li>
            </ul>
          </div>
    </div>
    
  </div>
</section>
