<section class="contacts">
  <div class="contact__wrapper">
    <div class="wrapper">
      <h2 class="contact__title">Contacts:</h2>
      <a class="contact__link" href="tel:+380685781714">
        <svg width="24" height="24">
          <use href="./images/email-phone.svg#icon-phone"></use>
        </svg>
        <p class="contact__phone">+38 (068) 578 17 14</p>
      </a>
      <a class="contact__link" href="mailto:dzhuraievrustem@gmail.com">
        <svg width="24" height="24">
          <use href="./images/email-phone.svg#icon-mail"></use>
        </svg>
        <p class="contact__email">dzhuraievrustem@gmail.com</p>
      </a>
      <div class="socials_btn">
        <ul class="socials__footer">
          <li class="socials__list-footer">
            <a href="https://github.com/RustDzhur" class="socials__btn-footer" target="_blank">
              <svg width="46" height="46" aria-label="social icons">
                <use
                  class="social__icon"
                  href="./images/icons.svg#icon-Github"
                ></use>
              </svg>
              <p class="social__btn-text">Github</p>
            </a>
          </li>
          <li class="socials__list-footer">
            <a href="https://www.linkedin.com/in/rustem-dzhuraiev-b25645248/" class="socials__btn-footer" target="_blank">
              <svg width="46" height="46" aria-label="social icons">
                <use
                  class="social__icon"
                  href="./images/icons.svg#icon-LinkedIn"
                ></use>
              </svg>
              <p class="social__btn-text">LinkedIn</p>
            </a>
          </li>
          <li class="socials__list-footer">
            <a href="https://t.me/deathforenemies" class="socials__btn-footer" target="_blank">
              <svg width="46" height="46" aria-label="social icons">
                <use
                  class="social__icon"
                  href="./images/icons.svg#icon-Telegram"
                ></use>
              </svg>
              <p class="social__btn-text">Telegram</p>
            </a>
          </li>
          <li class="socials__list-footer">
            <a href="viber://contact?number=%2B380685781714" class="socials__btn-footer">
              <svg width="46" height="46" aria-label="social icons">
                <use
                  class="social__icon"
                  href="./images/icons.svg#icon-Viber"
                ></use>
              </svg>
              <p class="social__btn-text">Viber</p>
            </a>
          </li>
          <li class="socials__list-footer">
            <a href="https://wa.me/380685781714" class="socials__btn-footer" target="_blank">
              <svg width="46" height="46" aria-label="social icons">
                <use
                  class="social__icon"
                  href="./images/icons.svg#icon-Whatsapp"
                ></use>
              </svg>
              <p class="social__btn-text">WhatsApp</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1594725.7408746125!2d25.259600341663788!3d48.96987665371444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4731559bdb72b25d%3A0xd4e277a56e07cc54!2z0JrQuNGG0LzQsNC90YwsINCn0LXRgNC90L7QstC40YbQutCw0Y8g0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sua!4v1665884920913!5m2!1sru!2sua"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
