<header>
  <div class="wrapper">
    <nav class="nav">
      <div class="menu-btn__box">
        <button type="button" class="menu-btn">
          <svg width="30" height="30" aria-label="switcher mobile menu">
            <use class="menu-btn__burger" href="./images/icons.svg#icon-burger"></use>
            <use class="menu-btn__cross" href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <img class="my-photo" src="./images/photo-mobile.png" alt="my photo">
      <div class="nav-container">
        <ul class="nav__item">
          <li class="nav__list"><a href="#" class="nav__link">Main Page <svg width="27px" height="27px"><use href="./images/icons.svg#icon-arrow-up"></use></svg></a></li>
          <li class="nav__list"><a href="#" class="nav__link">About me <svg width="27px" height="27px"><use href="./images/icons.svg#icon-arrow-up"></use></svg></a></li>
          <li class="nav__list"><a href="#" class="nav__link">Skills <svg width="27px" height="27px"><use href="./images/icons.svg#icon-arrow-up"></use></svg></a></li>
          <li class="nav__list"><a href="#" class="nav__link">Portfolio <svg width="27px" height="27px"><use href="./images/icons.svg#icon-arrow-up"></use></svg></a></li>
          <li class="nav__list"><a href="#" class="nav__link">Contacts <svg width="27px" height="27px"><use href="./images/icons.svg#icon-arrow-up"></use></svg></a></li>
        </ul>
        <button class="hire-me">
          <span>/hire</span>Hire me<span>/hire</span>
        </button>
      </div>

      <h1 class="title">Hello, I’m Rustem, <span class="title__span">Web Developer</span> </h1>
      <p class="socials__text">Let’s get in touch:</p>
      <ul class="socials">
        <li class="socials__list">
          <button class="socials__btn">
            <svg width="46" height="46"  aria-label="social icons">
              <use class="social__icon" href="./images/icons.svg#icon-Github"></use></svg
          ></button>
        </li>
        <li class="socials__list">
          <button class="socials__btn">
            <svg width="46" height="46" aria-label="social icons">
              <use class="social__icon" href="./images/icons.svg#icon-LinkedIn"></use></svg
          ></button>
        </li>
        <li class="socials__list">
          <button class="socials__btn">
            <svg width="46" height="46"  aria-label="social icons">
              <use class="social__icon" href="./images/icons.svg#icon-Telegram"></use></svg
          ></button>
        </li>
        <li class="socials__list">
          <button class="socials__btn">
            <svg width="46" height="46"  aria-label="social icons">
              <use class="social__icon" href="./images/icons.svg#icon-Viber"></use></svg
          ></button>
        </li>
        <li class="socials__list">
          <button class="socials__btn">
            <svg width="46" height="46"  aria-label="social icons">
              <use class="social__icon" href="./images/icons.svg#icon-Whatsapp"></use></svg
          ></button>
        </li>
      </ul>
      <button type="button" class="resume-btn">
        <p class="resume-btn__text">Download CV</p>
        <svg width="46" height="46" aria-label="resume"><use class="resume-btn__icon" href="./images/icons.svg#icon-file-document"></use></svg>
      </button>
    </nav>
  </div>
</header>
