<header class="header" id="header">
  <div class="wrapper">
    <nav class="nav">
      <div class="menu-btn__box">
        <button type="button" class="menu-btn">
          <svg width="30" height="30" aria-label="switcher mobile menu">
            <use class="menu-btn__burger" href="./images/icons.svg#icon-burger"></use>
            <use class="menu-btn__cross" href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="nav-container">
        <ul class="nav__item">
          <li class="nav__list"><a href="#header" class="nav__link">Main Page <svg width="27px" height="27px"><use href="./images/icons.svg#icon-arrow-up"></use></svg></a></li>
          <li class="nav__list"><a href="#about" class="nav__link">About me <svg width="27px" height="27px"><use href="./images/icons.svg#icon-arrow-up"></use></svg></a></li>
          <li class="nav__list"><a href="#skills" class="nav__link">Skills <svg width="27px" height="27px"><use href="./images/icons.svg#icon-arrow-up"></use></svg></a></li>
          <li class="nav__list"><a href="#portfolio" class="nav__link">Portfolio <svg width="27px" height="27px"><use href="./images/icons.svg#icon-arrow-up"></use></svg></a></li>
          <li class="nav__list"><a href="#contacts" class="nav__link">Contacts <svg width="27px" height="27px"><use href="./images/icons.svg#icon-arrow-up"></use></svg></a></li>
        </ul>
          <a href="https://drive.google.com/file/d/1tJBCOK8GBd9IQpVBjJnSbcB_0SFHBhC5/view?usp=sharing" target="_blank" class="resume-btn">
            <p class="resume-btn__text">Download CV</p>
            <svg width="46" height="46" aria-label="resume"><use class="resume-btn__icon" href="./images/icons.svg#icon-file-document"></use></svg>
          </a>
      </div>
      <!-- <img class="my-photo" src="./images/photo-mobile.png" alt="my photo"> -->

      <picture>
        <source srcset="./images/photo-desktop.png 1188w, ./images/photo-desktop@2x.png 2376w"
            media="(min-width: 1400px)" sizes="(min-width: 1400px) 1188px" />
        <source srcset="./images/photo-tablet.png 993w, ./images/photo-tablet@2x.png 1986w"
            media="(min-width: 780px)" sizes="(min-width: 780px) 880px" />
        <source srcset="./images/photo-mobile.png 360w, ./images/photo-mobile@2x.png 720w"
            media="(min-width: 320px)" sizes="(min-width: 320px) 360px" />
        <img class="my-photo" src="./images/photo-mobile.png" alt="my photo">
      </picture>

      

      <h1 class="title">Hello,<br> I’m Rustem, <br> <span class="title__span">Web Developer</span> </h1>
      <p class="socials__text">Let’s get in touch:</p>
      <ul class="socials">
        <li class="socials__list">
          <a href="https://github.com/RustDzhur" class="socials__btn" target="_blank">
            <svg width="46" height="46"  aria-label="social icons">
              <use class="social__icon" href="./images/icons.svg#icon-Github"></use></svg
          ></a>
        </li>
        <li class="socials__list">
          <a href="https://www.linkedin.com/in/rustem-dzhuraiev-b25645248/" class="socials__btn" target="_blank">
            <svg width="46" height="46" aria-label="social icons">
              <use class="social__icon" href="./images/icons.svg#icon-LinkedIn"></use></svg
          ></a>
        </li>
        <li class="socials__list">
          <a href="https://t.me/deathforenemies" class="socials__btn" target="_blank">
            <svg width="46" height="46"  aria-label="social icons">
              <use class="social__icon" href="./images/icons.svg#icon-Telegram"></use></svg
          ></a>
        </li>
        <li class="socials__list">
          <a href="viber://contact?number=%2B380685781714" class="socials__btn" target="_blank">
            <svg width="46" height="46"  aria-label="social icons">
              <use class="social__icon" href="./images/icons.svg#icon-Viber"></use></svg
          ></a>
        </li>
        <li class="socials__list">
          <a href="https://wa.me/380685781714" class="socials__btn" target="_blank">
            <svg width="46" height="46"  aria-label="social icons">
              <use class="social__icon" href="./images/icons.svg#icon-Whatsapp"></use></svg
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
