<!-- <section class="news" id="news">
  <div class="wrapper">
    <h2 class="news__title">
      Interesting <br />
      to read: <br>
      <span class="news__comment">// if you did not see news, because of 50 requests per day - it's free REST API, sorry</span>
    </h2>
    <div class="news__container">
      <ul class="news__list js-news-render"></ul>
    </div>
    <div class="show-more-btns">
        <button type="button" class="previous-btn">
            <svg width="42" height="22">
                <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
            <p class="previous">Previous</p>
        </button>
        <button type="button" class="next-btn">
            <svg width="42" height="22">
                <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
            <p class="next">Next</p>
        </button>
    </div>
  </div>
</section> -->
