<section class="skills" id="skills">
  <div class="wrapper">

    <div class="hard-skills__container">
        <p class="title-skills">
            Hard <br />
            skills:
          </p>
          <div class="btn-hardskills__container">
            <div class="icon-container">
                <div class="html">
                  <button class="html__btn">
                    <svg width="46" height="46" aria-label="social icons">
                      <use class="social__icon" href="./images/icons.svg#icon-html">
                      </use>
                      <p class="html__text">HTML</p>
                    </svg>
                  </button>
                </div>
          
                <div class="css">
                  <button class="css__btn">
                    <svg width="46" height="46" aria-label="social icons">
                      <use class="social__icon" href="./images/icons.svg#icon-CSS">
                      </use>
                      <p class="css__text">CSS</p>
                    </svg>
                  </button>
                </div>
          
                <div class="js">
                  <button class="js__btn">
                    <svg width="46" height="46" aria-label="social icons">
                      <use class="social__icon" href="./images/icons.svg#icon-JavaScript">
                      </use>
                      <p class="js__text">JavaScript</p>
                    </svg>
                  </button>
                </div>
          
                <div class="react">
                  <button class="react__btn">
                    <svg width="46" height="46" aria-label="social icons">
                      <use class="social__icon" href="./images/icons.svg#icon-react">
                      </use>
                    </svg>
                    <p class="react__text">React</p>
                  </button>
                </div>
          
                <div class="nodejs">
                  <button class="nodejs__btn">
                    <svg width="46" height="46" aria-label="social icons">
                      <use class="social__icon" href="./images/icons.svg#icon-nodejs">
                      </use>
                    </svg>
                    <p class="nodejs__text">Node.js</p>
                  </button>
                </div>
              </div>
        </div>
          </div>
          
   <div class="soft-skills__container">
    <p class="title-soft-skills">
        Soft <br />
        skills:
    </p>
    <div class="soft-skills__list-box-tablet">
        <ul class="soft-skills__list">
          <li class="soft-skills__item">Determined</li>
          <li class="soft-skills__item">Flexible</li>
          <li class="soft-skills__item">Hardworking</li>
          <li class="soft-skills__item">Ability to work efficiently both individually and in a team</li>

        </ul>
        <ul class="soft-skills__list">
          <li class="soft-skills__item">Business communication skills</li>
          <li class="soft-skills__item">Sales Ability</li>  
          <li class="soft-skills__item">Willingness to learn</li>
          <li class="soft-skills__item">Problem-solving skills</li>
        </ul>
    </div>

    <div class="soft-skills__list-box-dectop">
        <ul class="soft-skills__list">
            <li class="soft-skills__item">Determined</li>
            <li class="soft-skills__item">Flexible</li>
            <li class="soft-skills__item">Hardworking</li>
        </ul>
        <ul class="soft-skills__list">
            <li class="soft-skills__item">Ability to work efficiently both individually and in a team</li>
            <li class="soft-skills__item">Business communication skills</li>
            <li class="soft-skills__item">Sales Ability</li>       
        </ul>
        <ul class="soft-skills__list">
            <li class="soft-skills__item">Willingness to learn</li>
            <li class="soft-skills__item">Problem-solving skills</li>
            <li class="soft-skills__item">Organizationalg</li>
        </ul>
    </div>
   </div>
    
  </div>
</section>
