<section class="skills">
  <div class="wrapper">
    <p class="title-skills">
      Hard <br />
      skills:
    </p>
    <div class="icon-container">
      <div class="html">
        <button class="html__btn">
          <svg width="46" height="46" aria-label="social icons">
            <use class="social__icon" href="./images/icons.svg#icon-html">
            </use>
            <p class="html__text">HTML</p>
          </svg>
        </button>
      </div>

      <div class="css">
        <button class="css__btn">
          <svg width="46" height="46" aria-label="social icons">
            <use class="social__icon" href="./images/icons.svg#icon-CSS">
            </use>
            <p class="css__text">CSS</p>
          </svg>
        </button>
      </div>

      <div class="js">
        <button class="js__btn">
          <svg width="46" height="46" aria-label="social icons">
            <use class="social__icon" href="./images/icons.svg#icon-JavaScript">
            </use>
            <p class="js__text">JavaScript</p>
          </svg>
        </button>
      </div>

      <div class="react">
        <button class="react__btn">
          <svg width="46" height="46" aria-label="social icons">
            <use class="social__icon" href="./images/icons.svg#icon-react">
            </use>
          </svg>
          <p class="react__text">React</p>
        </button>
      </div>

      <div class="nodejs">
        <button class="nodejs__btn">
          <svg width="46" height="46" aria-label="social icons">
            <use class="social__icon" href="./images/icons.svg#icon-nodejs">
            </use>
          </svg>
          <p class="nodejs__text">Node.js</p>
        </button>
      </div>
    </div>
    <p class="title-soft-skills">
        Soft <br />
        skills:
    </p>
    <ul class="soft-skills__list">
        <li class="soft-skills__item">Communication
        </li>
        <li class="soft-skills__item">Problem-solving
        </li>
        <li class="soft-skills__item">Teamwork</li>
        <li class="soft-skills__item">Critical thinking
        </li>
        <li class="soft-skills__item">Decision-making
        </li>
        <li class="soft-skills__item">Organizationalg</li>
        <li class="soft-skills__item">Adaptability</li>
        <li class="soft-skills__item">Conflict management
        </li>
        <li class="soft-skills__item">Leadership</li>
        <li class="soft-skills__item">Resourcefulness</li>
        <li class="soft-skills__item">Persuasion</li>
        <li class="soft-skills__item">Openness to criticism
        </li>
        <li class="soft-skills__item">Creativity</li>
        <li class="soft-skills__item">Stress management
        </li>
        <li class="soft-skills__item">Time management
        </li>
    </ul>
  </div>
</section>
